- stage: Deploy_Dev
  displayName: "Deploy to Dev"
  dependsOn: Build
  jobs:
    - deployment: Deploy
      pool:
        vmImage: "ubuntu-20.04"
      environment: dev
      variables:
        - group: Release
      strategy:
        runOnce:
          deploy:
            steps:
              - download: current
                artifact: drop
              - task: AzureWebApp@1
                displayName: "Azure App Service Deploy: website"
                inputs:
                  azureSubscription: "Resource Manager - Tailspin - Space Game"
                  appName: "$(WebAppNameDev)"
                  package: "$(Pipeline.Workspace)/drop/*.zip"

- stage: Deploy_Staging
  displayName: "Deploy to Staging"
  dependsOn: Deploy_Dev
  jobs:
    - deployment: Deploy
      pool:
        vmImage: "ubuntu-20.04"
      environment: staging
      variables:
        - group: Release
      strategy:
        runOnce:
          deploy:
            steps:
              - download: current
                artifact: drop
              - task: AzureWebApp@1
                displayName: "Azure App Service Deploy: website"
                inputs:
                  azureSubscription: "Resource Manager - Tailspin - Space Game"
                  appName: "$(WebAppNameStaging)"
                  package: "$(Pipeline.Workspace)/drop/*.zip"
